<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">
    <nav id="table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <form class="navbar-form navbar-left" role="search">

                </form>
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">
                    <li>
                        <div class="btn-group" style="margin-right: 20px">
                            <button type="button" class="btn  btn-primary btn-md" onclick="onAdd(0)">
                                <i class="glyphicon glyphicon-plus"></i>增加商户
                            </button>
                        </div>
                        <div id="user_modal_div"></div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div id="food_main_context">
        <table id="main_table" class="table table-hover table-striped table-bordered">

            <thead>
            <tr class="success">
                <th>用户编号</th>
                <th>用户名</th>
                <th>年龄</th>
                <th>性别</th>

                <th>用户权限</th>
                <th>用户地址</th>
                <th>email</th>
                <th>真实姓名</th>
                <th>电话</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}">12</td>
                <td th:text="${user.username}">dwq</td>
                <td th:text="${user.age}">21</td>
                <td th:text="${user.sex}">男</td>

                <td th:text="${user.role}">普通用户</td>
                <td th:text="${user.address}">西安市</td>
                <td th:text="${user.email}">826112946@qq.com</td>
                <td th:text="${user.name}">特朗普</td>
                <td th:text="${user.phone}">18892061129</td>
                <td>
                    <button class="btn btn-xs btn-danger" th:onclick="'onDelete('+${user.id}+')'">删除</button>
                    <button class="btn btn-xs btn-waring" th:onclick="'onRepassword('+${user.id}+')'">重置密码</button>
                    <button class="btn btn-xs btn-info" th:onclick="'onAdd('+${user.id}+')'">修改</button>
                </td>
            </tr>

            </tbody>
            <tr>
                <td colspan="10">
                    <div class="text-center">

                        <ul class="pager " style="text-align: right">
                            <li><a href="javascript:pageChange(-999);"> <span
                                    class="glyphicon glyphicon-fast-backward"></span></a></li>
                            <li><a href="javascript:pageChange(-1);"><span
                                    class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
                            <li>当前第<span id="span_pageNum" th:text="${pageNum}">3</span>页</li>
                            <li><a href="javascript:pageChange(1);"><span
                                    class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
                            <li><a href="javascript:pageChange(999);"> <span
                                    class="glyphicon glyphicon-fast-forward"></span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    function reLoadTable(sele) {
        var pageNum = parseInt($("#span_pageNum").text());
        var sortName = $(sele).val();
        console.log(sortName);
        $("#用户管理").load("/admin/user.html", data = {
            //isSubPage: true,
            //sortName: sortName,
            pageNum: pageNum
        });
    }

    function pageChange(changePage) {
        var pageNum = parseInt($("#span_pageNum").text());
        pageNum += changePage;
        $("#用户管理").load("/admin/user.html", data = {
            pageNum: pageNum
        });
    }


    function onAdd(a) {
        $("#user_modal_div").load("/admin/user/updata?userId=" + a, function () {
            $("#user_modal_div").find("#addModal").modal({keyboard: true});
        });

    }

    function onDelete(id) {
        if(confirm("确定要删除该用户吗?")) {
            $.post("/admin/user/delete?userId=" + id, function (msg) {
                if (msg) {
                    alert("删除成功");
                    pageChange(0);
                }
            })
        }
    }



    function onRepassword(id) {
        $.post("/admin/user/rePassword?userId=" + id, function (msg) {
            if (msg) {
                alert("重置成功,新密码已发送至用户邮箱中");
            }else {
                alert("重置失败")
            }
        })
    }
</script>