<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">
    <nav id="table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <form class="navbar-form navbar-left" role="search">

                </form>
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">
                    <li>
                        <div class="btn-group" style="margin-right: 20px">
                            <button type="button" class="btn  btn-primary btn-md" onclick="eatery_onAdd(0)">
                                <i class="glyphicon glyphicon-plus"></i>增加商户
                            </button>
                        </div>
                        <div id="eatery_modal_div"></div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div id="food_main_context">
        <table id="main_table" class="table table-hover table-striped table-bordered">

            <thead>
            <tr class="success">
                <th>商铺图片</th>
                <th>编号</th>
                <th>商铺名</th>
                <th>地址</th>
                <th>描述</th>
                <th>店长姓名</th>
                <th>店长电话</th>
                <th>店长email</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="eatery : ${eateryList}">
                <td class="thumbnail"> <img class="img-responsive center-block" width="70px" height="70px" th:src="${'/file/img/'+eatery.imgUrl}"></td>
                <td th:text="${eatery.id}">12</td>
                <td th:text="${eatery.eaterName}">海底捞</td>
                <td th:text="${eatery.address}">西安市</td>
                <td th:text="${eatery.des}">不好吃</td>

                <td th:text="${eatery.name}">王大锤</td>
                <td th:text="${eatery.iphone}">5454654</td>
                <td th:text="${eatery.email}">826112946@qq.com</td>
                <td>
                    <button class="btn btn-xs btn-danger" th:onclick="'onDelete('+${eatery.id}+')'">删除</button>
                    <button class="btn btn-xs btn-info" th:onclick="'eatery_onAdd('+${eatery.id}+')'">修改</button>
                </td>
            </tr>

            </tbody>
            <tr>
                <td colspan="10">
                    <div class="text-center">

                        <ul class="pager" style="text-align: right">
                            <li><a href="javascript:eatery_pageChange(-999);"> <span
                                    class="glyphicon glyphicon-fast-backward"></span></a></li>
                            <li><a href="javascript:eatery_pageChange(-1);"><span
                                    class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
                            <li>当前第<span id="eatery_span_pageNum" th:text="${pageNum}">3</span>页</li>
                            <li><a href="javascript:eatery_pageChange(1);"><span
                                    class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
                            <li><a href="javascript:eatery_pageChange(999);"> <span
                                    class="glyphicon glyphicon-fast-forward"></span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    function reLoadTable(sele) {
        var pageNum = parseInt($("#eatery_span_pageNum").text());
        $("#商家管理").load("/admin/eatery.html", data = {
            //isSubPage: true,
            //sortName: sortName,
            pageNum: pageNum
        });
    }

    function eatery_pageChange(changePage) {
        var pageNum = parseInt($("#eatery_span_pageNum").text());
        pageNum += changePage;
        $("#商家管理").load("/admin/eatery.html", data = {
            pageNum: pageNum
        });
    }


    function eatery_onAdd(a) {
        $("#eatery_modal_div").load("/admin/eatery/add.html?eateryid="+a, function () {
            $("#eatery_modal_div").find("#addModal").modal({keyboard: true});
        });

    }




</script>