<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <style>
        table a {
            height: 210px;
            width: 200px;
            text-decoration: none;
        }

        main a div {
            height: 180px;
        }

        main a div div {
            width: 100%;
            height: 70%
        }

        main a div div img {
            height: 100%;
            width: 100%;
        }

        .name {
            font-size: 8px;
            color: #999;
            padding: 4px 0;
        }
    </style>
</head>

<body>
<header th:include="/index ::#header"></header>

<main class="container ">
    <div id="eateryList">
        <table style="margin-left: 175px ">
            <tr th:each="list : ${eateryList}">
                <td th:each="eatery : ${list}">
                    <a href="#" class="thumbnail" th:href="'/food/eatery/'+${eatery.id}">
                        <div>
                            <div><img class="img-rounded" th:src="'/file/img/'+${eatery.imgUrl}" src="/file/img/u.png"/>
                            </div>
                            <span style="color: #3c3c3c" th:text="${eatery.eaterName}">米饭</span><br/>
                            <span class="name" th:text="${eatery.des}"> 一个神奇的餐厅</span><br/>
                            <span style="color: red" th:text="'地址: '+ ${eatery.address}">西安市</span>
                        </div>
                    </a>
                </td>
            </tr>
        </table>

        <div class="text-center">
            <ul class="pagination ">
                <li><a href="javascript:pageChange(-999);">&laquo;</a></li>
                <li><a href="javascript:pageChange(-1);">上一页</a></li>
                <li><a href="javascript:pageChange(0);">当前第<span id="span_pageNum" th:text="${pageNum}">1</span>页</a>
                </li>
                <li><a href="javascript:pageChange(1);">下一页</a></li>
                <li><a href="javascript:pageChange(999);">&raquo;</a></li>
            </ul>
        </div>
    </div>
</main>
<script>
    function pageChange(changePage) {
        var pageNum = parseInt($("#span_pageNum").text());
        pageNum +=changePage;
        $("main").load("/food/eateryList?isSubPage=true&pageNum=" + pageNum, function () {
            $(".text-center > .pagination>li>a:eq(3)")
        })

    }
</script>
<footer th:include="/index ::#footer"></footer>
</body>
<!--    -->
</html>