.container-fluid{
    background: #2aabd2;
}

.index_seach{
    margin-bottom: 200px;
    margin-top: 100px;
    height: 100px;
}
.index_seach button {
    height: 100px;
    width: 200%;
}
.index_seach input {
    width: 480px;
    height: 20px;
    display: block;
    border: 0;
    font-size: 16px;
    line-height: 20px;
    padding: 20px 10px 20px 20px;
}