<html xmlns:th="http://www.thymeleaf.org">
<div class="modal fade" id="chatRoom_modal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <link type="text/css" rel="stylesheet" th:href="@{/css/chatroom.css}"/>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">聊天室</h4>
            </div>


            <div id="convo" data-from="Sonu Joshi" style="background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;">
                <ul class="chat-thread" id="user_chatRom_ul">


                </ul>
            </div>

            <div class="modal-footer">
                <textarea id="chatroom_content" rows="3" class="pull-left" style="width: 75%"></textarea>
                <button type="button" class="btn btn-lg btn-primary" onclick="endMessage()">发送</button>
            </div>
        </div>
    </div>
    <script>
        var thisName = "未知";
        $.get("/chatroom",{dataType: "json"},function (data) {
            thisName = data.userName;
            $.each(data.message,function (i) {
                showMessage(data.message[i]);
            });
            $("#user_chatRom_ul").scrollTop($("#user_chatRom_ul")[0].scrollHeight);
        });

        var sock = new SockJS('/chatRoom');
        stompClient = Stomp.over(sock);//使用STMOP子协议的WebSocket客户端

        stompClient.connect({}, function (frame) {//连接WebSocket服务端
            //通过stompClient.subscribe订阅/topic/getResponse 目标(destination)发送的消息,这个是在控制器的@SentTo中定义的
            stompClient.subscribe('/topic/getResponse', function (response) {
                showMessage(JSON.parse(response.body));
            });
        });

        function endMessage() {
            var content = $("#chatroom_content").val();
            stompClient.send("/topic/welcome", {},  content);
            $("#chatroom_content").val("");
        }

        function showMessage(message) {
            console.log(message);
            var li = $("<li ></li>");
            $(li).append(message.content);
            if(thisName === message.userName){
                $(li).addClass("my");
                $(li).append("<span class='username' style='float: right'>&nbsp;&nbsp;:&nbsp;"+message.userName+"</span>");
            }else {
                $(li).addClass("other");
                $(li).prepend("<span class='username' style='float: left'>"+message.userName+"&nbsp;:&nbsp;&nbsp;</span>");
            }
            $("#user_chatRom_ul").append(li);
            $("#user_chatRom_ul").scrollTop($("#user_chatRom_ul")[0].scrollHeight);
        }

        document.onkeydown = function (e) {
            var theEvent = window.event || e;
            var code = theEvent.keyCode || theEvent.which;
            if (code == 13) {
                endMessage();
            }
        }
        document.onkeyup = function (e) {
            var theEvent = window.event || e;
            var code = theEvent.keyCode || theEvent.which;
            if (code == 13) {
                $("#chatroom_content").val("");
            }
        }
    </script>
</div>