<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/register.js}"></script>
    <style>
        .reg div div form div {
            margin-bottom: 4%;
        }

        .tooltip-inner {
            height: 25px;
            background: #c92027;
        }

        .tooltip {

            margin-left: -20%;
        }

        .left_vox, .left_vox img {
            height: 600px;
            padding: 0;
            background: url("/img/register.jpg") no-repeat;
            background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            z-index: 9999;
        }

        #div2 {
            display: none;
        }
    </style>
</head>
<body>
<header th:include="/index ::#header"></header>
<main class="reg  container-fluid">

    <div class="row">
        <div class="col-md-4 left_vox visible-lg visible-md">

        </div>

        <div class="col-md-8">
            <div id="div1" class="col-md-offset-1 col-md-4">
                <div class="row">
                    <h1>欢迎注册</h1>
                </div>

                <div class="row">
                    <form id="form2" action="/user/reg" method="post" class="form-horizontal regForm  " role="form">
                        <!--DIV CLASS has-{error/warning/success}-->
                        <div>
                            <span>用户名</span>
                            <div class="input-group" t="glyphicon-user">
                                <input name="username" type="text" placeholder="用户名" title="用户名已存在或用户名不合法">
                            </div>
                        </div>
                        <script>
                            $("input[name='username']").blur(function () {
                                var name = $(this).val();
                                var input = this;
                                if (name.length < 2) return;
                                $.get("/user/regFindName?name=" + name, function (data) {
                                    console.log(data);
                                    if (data === 'true') {
                                        $(input).tooltip("show")
                                    } else {
                                        $(input).tooltip("hide")
                                    }
                                })
                            });

                        </script>
                        <div>
                            <span>电子邮箱</span>
                            <div class="input-group" t="glyphicon-envelope">
                                <input name="email" onblur="eamilReg()" type="text" placeholder="请输入email"
                                       title="底部的 Tooltip"/>
                            </div>
                        </div>
                        <div>
                            <div class="input-group" t="glyphicon-forward">
                                <input class="form-control " name="code" type="text" placeholder="邮箱验证码"
                                       title="邮箱验证码有误"/>
                                <div class="input-group-btn">
                                    <button onclick="sendCode()" class="btn btn-default" type="button">发送</button>
                                </div>
                            </div>
                            <script>
                                $("input[name='code']").blur(function () {
                                    var code = $("input[name='code']").val();
                                    var input = this;
                                    if (code.length < 2) return;
                                    $.get("/user/regCodeVer?code=" + code, function (data) {
                                        console.log(data);
                                        if (data === true) {
                                            $(input).tooltip("hide")
                                        } else {
                                            $(input).tooltip("show")
                                        }
                                    })
                                });
                            </script>
                        </div>
                        <div>
                            <span>密码</span>
                            <div class="input-group" t="glyphicon-lock">
                                <input name="password" type="password" placeholder="密码" title="底部的 Tooltip"/>
                            </div>

                        </div>
                        <div>
                            <span>再次输入密码</span>
                            <div class="input-group" t="glyphicon-lock">
                                <input type="password" placeholder="密码" title="底部的 Tooltip"/>
                            </div>
                        </div>
                        <div>
                            <div class="input-group">
                                <button type="button" id="regsub" class="btn btn-info">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div id="div2" class="col-md-offset-1 col-md-4">
                <div class="row">
                    <h1>请完善个人信息</h1>
                </div>
                <div class="row">
                    <form id="form1" action="/user/reg" method="post" class="form-horizontal regForm  " role="form">
                        <!--DIV CLASS has-{error/warning/success}-->
                        <div>
                            <span>真实姓名</span>
                            <div class="input-group" t="glyphicon-user">
                                <input name="name" type="text" placeholder="姓名" title="底部的 Tooltip"
                                />
                            </div>
                        </div>
                        <div>
                            <span>性别</span>
                            <div class="input-group" t="glyphicon-exclamation-sign">
                                <select class="form-control" name="sex">
                                    <option>男</option>
                                    <option>女</option>
                                </select>

                            </div>
                        </div>

                        <div>
                            <span>电话</span>
                            <div class="input-group" t="glyphicon-lock">
                                <input name="phone" type="number" placeholder="电话" title="底部的 Tooltip"/>
                            </div>
                        </div>
                        <div>
                            <span>地址</span>
                            <div class="input-group" t="glyphicon-home">
                                <input name="address" type="text" placeholder="地址" title="底部的 Tooltip"/>
                            </div>
                        </div>
                        <div>
                            <div class="input-group">
                                <button id="sub_all" type="button" class="btn btn-info">提交注册信息</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</main>
</body>
<script>
    function eamilReg() {
        var emailaddresss = $("input[name='email']").val();
        if (/\w@([A-Za-z0-9]{2,}\.)+[A-Za-z]{2,14}/.test(emailaddresss)) {
            $("input[name='email']").parent().parent().children("span").html("电子邮箱");
            return true;
        } else {
            $("input[name='email']").parent().parent().children("span").html("<span style='color: red'>邮箱格式不正确</span>");
            return false;
        }
    }

    function sendCode() {
        var emailaddresss = $("input[name='email']").val();
        console.log(emailaddresss);
        $.get("/user/regCode?emailAddress=" + emailaddresss, function (result) {
            if (result === true) {
                $("input[name='email']").parent().parent().children("span").html("电子邮箱")
                $("input[name='code']").next().find("button").addClass("btn-primary");
            } else {
                $("input[name='email']").parent().parent().children("span").html("<span style='color: red'>邮箱不正确</span>")
            }
            return result;
        })
    }
</script>
</html>