<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>修改密码</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/register.js}"></script>
    <script th:src="@{/js/jquery.form.js}"></script>
    <style>
        .reg div div form div {
            margin-bottom: 4%;
        }

        .tooltip-inner {
            height: 25px;
            background: #c92027;
        }

        .tooltip {

            margin-left: -20%;
        }

        .left_vox, .left_vox img {
            height: 600px;
            padding: 0;
            background: url("/img/register.jpg") no-repeat;
            background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            z-index: 9999;
        }

        #div2 {
            display: none;
        }
    </style>
</head>
<body>
<header th:include="/index ::#header"></header>
<main class="reg  container-fluid">

    <div class="row">
        <div class="col-md-4 left_vox visible-lg visible-md">

        </div>

        <div class="col-md-8">
            <div id="div1" class="col-md-offset-1 col-md-4">
                <div class="row">
                    <h1>修改密码</h1>
                </div>

                <div class="row">
                    <form id="form2" action="/user/reg" method="post" class="form-horizontal regForm  " role="form">

                        <div>
                            <span>电子邮箱</span>
                            <div class="input-group" t="glyphicon-envelope">
                                <input name="email" type="text" placeholder="请输入注册时使用的email" title="底部的 Tooltip"/>
                            </div>
                        </div>
                        <div>
                            <div class="input-group" t="glyphicon-forward">
                                <input class="form-control " name="code" type="text" placeholder="邮箱验证码"
                                       title="邮箱验证码有误"/>
                                <div class="input-group-btn">
                                    <button onclick="sendCode()" class="btn btn-default" type="button">发送</button>
                                </div>
                            </div>
                            <script>
                                function sendCode() {
                                    var emailaddresss = $("input[name='email']").val();
                                    $.get("/user/repasswordCode?emailAddress="+emailaddresss,function (result) {
                                        if(result === true){
                                            $("input[name='email']").parent().parent().children("span").html("电子邮箱");
                                            $("input[name='code']").next().find("button").addClass("btn-primary");
                                        }else {
                                            $("input[name='email']").parent().parent().children("span").html("<span style='color: red'>邮箱不正确</span>")
                                        }
                                    })
                                }


                               </script>
                        </div>
                        <div>
                            <span>新密码</span>
                            <div class="input-group" t="glyphicon-lock">
                                <input name="password" type="password" placeholder="密码" title="底部的 Tooltip"/>
                            </div>
                        </div>
                        <div>
                            <div class="input-group">
                                <button type="button" id="password_sub" class="btn btn-info">确定</button>
                            </div>
                            <script>

                                $("#password_sub").click(function () {
                                    $("#form2").serialize();
                                    $.post("/user/repassword",data=$("#form2").serialize(),function (message) {
                                        if(message){
                                            alert("修改成功!")
                                            history.back(-1);
                                        }else {
                                            alert("信息有误!")
                                        }
                                    });

                                });


                            </script>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>

</main>
</body>
</html>