<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>页面找不到啦</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div th:include="/index ::#header"></div>

<main class="text-center">
    <h1>页面不见啦</h1>
    <a href="/">
        <button class="btn btn-default btn-lg btn-bloc">点击返回主页</button>
    </a>

</main>

<div th:include="/index ::#footer"></div>
</body>
</html>