<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cn" th:re>
<head>
    <meta charset="UTF-8">
    <title>权限不足</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div th:include="/index ::#header"></div>

<main>
    <h1 class="text-center" th:inline="text">你的权限不足,当前用户权限为: [[${user.role}]]</h1>
</main>

<div th:include="/index ::#footer"></div>
</body>
</html>