<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">
    <nav id="table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <form class="navbar-form navbar-left" role="search">

                    <div class="form-group">
                        <span>排序 : </span>
                        <select name="sort" class="form-control" onchange="reLoadTable(this)">
                            <option>编号</option>
                            <option>销量</option>
                            <option>名字</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn  btn-default btn-md" style="margin-left: 30px">
                            <i class="glyphicon glyphicon-search"></i>查询
                        </button>
                    </div>
                </form>
                <ul class="nav navbar-nav  navbar-right" style="padding-top: 10px;">
                    <li>
                        <div class="btn-group" style="margin-right: 20px">
                            <button type="button" class="btn  btn-primary btn-md" onclick="onAdd(this)">
                                <i class="glyphicon glyphicon-plus"></i>商品增加
                            </button>
                        </div>
                        <div id="food_addmodal_div"></div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div id="food_main_context">
        <table id="main_table" class="table table-hover table-striped table-bordered">

            <thead>
            <tr class="success">
                <th>商品图</th>
                <th>商品编号</th>
                <th>商品名</th>
                <th>单价</th>
                <th>销量</th>
                <th>操作</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="food : ${foodList}">
                <td class="thumbnail"><img th:src="${'/file/img/'+food.img}"
                                           alt="通用的占位符缩略图"></td>
                <td th:text="${food.id}">00001111</td>
                <td th:text="${food.name}">米饭</td>
                <td th:text="${food.price}+'元'">一元</td>
                <td></td>
                <td th:text="${food.des}">巨难吃</td>
                <td>
                    <button class="btn btn-xs btn-danger" th:onclick="'onDelete('+${food.id}+')'">删除</button>
                    <button class="btn btn-xs btn-waring" th:onclick="'onUpdate('+${food.id}+')'">修改</button>
                </td>
            </tr>

            </tbody>
            <script> $("#main_table >tbody>tr").each(function () {
                var id = $(this).children("td:eq(1)").text();
                if (isNaN(id)) return;
                var countTd = $(this).children("td:eq(4)");
                $.get("/food/getCount?foodId=" + id, function (data) {
                    countTd.html(data);
                });
            }); </script>
            <tr>
                <td colspan="6">
                    <div class="text-center">

                        <ul class="pager " style="text-align: right">
                            <li><a href="javascript:pageChange(-999);"> <span
                                    class="glyphicon glyphicon-fast-backward"></span></a></li>
                            <li><a href="javascript:pageChange(-1);"><span
                                    class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
                            <li>当前第<span id="span_pageNum" th:text="${pageNum}">1</span>页</li>
                            <li><a href="javascript:pageChange(1);"><span
                                    class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
                            <li><a href="javascript:pageChange(999);"> <span
                                    class="glyphicon glyphicon-fast-forward"></span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>


    </div>
</div>
<script>
    function reLoadTable(sele) {
        var pageNum = parseInt($("#span_pageNum").text());
        var sortName = $(sele).val();
        console.log(sortName);
        $("#food_main_context").load("/eatery/food.html", data = {
            isSubPage: true,
            sortName: sortName,
            pageNum: pageNum
        });
    }

    function pageChange(changePage) {
        var pageNum = parseInt($("#span_pageNum").text());
        var sortName = $("select[name='sort']").val();
        pageNum += changePage;
        $("#food_main_context").load("/eatery/food.html", data = {
            isSubPage: true,
            sortName: sortName,
            pageNum: pageNum
        });
    }

    function onAdd(a) {
        $(a).parent().next().load("/eatery/foodAdd.html", function () {
            $(a).parent().next().find("#addModal").modal({keyboard: true});
        });

    }

    function onUpdate(id) {
        $("#food_addmodal_div").load("/eatery/foodAdd.html", function () {

            pageChange(0);
        })
    }

    function onDelete(id) {
        $.get("/food/remove?foodId=" + id, function () {
            pageChange(0);
        })
    }
</script>