<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">
    <nav id="table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <form class="navbar-form navbar-left" role="search">

                </form>
                <div id="addmodal_div"></div>
            </div>
        </div>
    </nav>
    <table id="main_table" class="table table-hover table-striped table-bordered">
        <thead>
        <tr class="success">
            <th>订单编号</th>
            <th>下单时间</th>
            <th>价格</th>
            <th>下单人姓名</th>
            <th>联系电话</th>
            <th>备注</th>
            <th>当前状态</th>
            <th>查看订单详情</th>
        </tr>
        </thead>
        <tbody>
        <!--
        List-> map-> {id(订单ID) ,ps(订单备注) ,time(下单时间),price(当前订单价钱)
                      state(订单状态) ,userName(下单人姓名) ,phone(下单人电话),
                      food(订单详细信息):{count(数量),price(价钱),name(商品名)}}
        -->
        <tr th:each="order : ${orderList}" th:class="${order.state==1?'danger':'info'}">
            <td th:text="${order.id}" >0001</td>
            <td th:text="${#dates.format(order.time, 'MM月dd日HH时mm分')}">2018年12月5日</td>
            <td th:text="${order.price}+'元'">1565.元</td>
            <td th:text="${order.userName}">王先生</td>
            <td th:text="${order.phone}">1001201545</td>
            <td th:text="${order.ps}">无</td>
            <td th:text="${order.state==1?'未接单':'已接单'}">未接单</td>
            <td>
                <button class="btn btn-xs btn-success" onclick="showModel(this)">查看订单详情</button>
                <div class="modal fade" th:id="${'foodInfo'+order.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-info" id="myModalLabel">订单详情</h4>
                            </div>
                            <div class="modal-body">
                                <table  class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr class="success">
                                        <th>商品名</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="foodInof : ${order.food}">
                                        <td th:text="${foodInof.name}"></td>
                                        <td th:text="${foodInof.price}"></td>
                                        <td th:text="${foodInof.count}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button th:if="${order.state==1}" id="add_submit" type="button" class="btn btn-primary"  th:onclick="${'Orders('+order.id+')'}">接单</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>

            </td>
        </tr>


        </tbody>
    </table>
    <div class="text-right">

        <ul class="pager " style="text-align: right">
            <li><a href="javascript:d_pageChange(-999);"> <span
                    class="glyphicon glyphicon-fast-backward"></span></a></li>
            <li><a href="javascript:d_pageChange(-1);"><span
                    class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
            <li>当前第<span id="span_pageNum" th:text="${pageNum}">1</span>页</li>
            <li><a href="javascript:d_pageChange(1);"><span
                    class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
            <li><a href="javascript:d_pageChange(999);"> <span
                    class="glyphicon glyphicon-fast-forward"></span></a></li>
        </ul>
    </div>
</div>
<script>
    function d_pageChange(changePage) {
        var pageNum = parseInt($("#span_pageNum").text());
        pageNum += changePage;
        $("#订单管理").load("/eatery/order.html", data = {
            pageNum: pageNum
        });
    }

    function showModel(a) {
            $(a).next().modal({keyboard: true});

    }
    function Orders(id){
        $.get("/eatery/orderUp?orderId="+id,function (message) {
            if (message === true) {
                alert("接单成功");
                $("#foodInfo"+id).modal('hide');
                var context = $("#订单管理");
                //添加主体内容
                context.load("/eatery/order.html");
            }else{
                alert("遇到了错误,无法接单");
                $("#foodInfo"+id).modal('hide');
            }

        })
    }
</script>