<!DOCTYPE html>

<style>
    .main_table {
        background: whitesmoke;
    }
</style>
<div class="main_table">
    <nav id="table_nav" class="navbar navbar-default" style="margin: 0">
        <div class="container-fluid">
            <div>
                <form class="navbar-form navbar-left" role="search">

                </form>
                <div id="addmodal_div"></div>
            </div>
        </div>
    </nav>
    <table id="main_table" class="table table-hover table-striped table-bordered">
        <thead>
        <tr class="success">
            <th>订单编号</th>
            <th>下单时间</th>
            <th>价格</th>
            <th>下单人姓名</th>
            <th>联系电话</th>
            <th>备注</th>
            <th>当前状态</th>
            <th>查看订单详情</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0001</td>
            <td>2018年12月5日</td>
            <td>1565.元</td>
            <td>王先生</td>
            <td>1001201545</td>
            <td>无</td>
            <td>未接单</td>
            <td><button class="btn btn-xs btn-success">查看订单详情</button></td>
        </tr>


        </tbody>
    </table>
    <div class="text-right">

        <ul class="pager " style="text-align: right">
            <li><a href="#"> <span class="glyphicon glyphicon-fast-backward"></span></a></li>
            <li><a href="#"><span class="glyphicon  glyphicon-chevron-left"></span>上一页</a></li>
            <li>当前第4页</li>
            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>下一页</a></li>
            <li><a href="#"> <span class="glyphicon glyphicon-fast-forward"></span></a></li>
        </ul>
    </div>
</div>
<script>
    function onAdd(a) {
        $("#addmodal_div").load("hrm/kpi/pfModel.html", function () {
            $("#addModal").modal({keyboard: true});
        });

    }</script>