<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>

    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<header id="header">
    <style>body {
        padding-top: 50px;
        font-family: 'microsoft yahei', Arial, sans-serif;
        margin: 0;
    }</style>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">网络订餐系统</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">首页</a></li>
                        <li><a href="#">关于我们</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" th:if="${session.user != null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:inline="text">
                                欢迎您( <span href="#"  th:text="${session.user.role}">a</span>)，
                                [[${session.user.username}]]<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/restPassword.html">更改密码</a></li>
                                <li><a href="/user/home.html">个人中心</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </li>
                        <li th:if="${session.user == null}"><a data-toggle="modal" href="#loginModal">登录</a></li>
                        <li th:if="${session.user == null}"><a th:href="@{/register.html}">注册</a></li>
                      <!--  <li th:if="${session.user != null}"><a  data-toggle="modal" href="#chatRoom_modal">聊天室</a>-->

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true"
         th:if="${session.user == null}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div th:include="/user/login ::#loginPage"></div>
                </div>
            </div>
        </div>
    </div>


</header>

<main>
    <div class=" container-fluid" id="main" style=" background-image: url('/img/index_bg.jpg');">


        <div class="row index_seach">

            <div class="col-md-offset-4 col-md-4 input-group">
                <div class="input-group-btn" style="width: 15%">
                    <button type="button" id="city" class="btn btn-default " data-toggle="dropdown" style="width: 100%">
                        北京
                    </button>
                    <script>
                        $.ajax('http://api.map.baidu.com/location/ip', {
                            data: {'ak': 'wUU9lOlhiGEbCe1XabIwgGr6YlChet2d'}, dataType: 'jsonp', crossDomain: true,
                            success: function (data) {
                                if (data) {

                                    $("#city").text(data.content.address_detail.city);
                                }
                            }
                        });</script>

                </div>

                <div class="dropdown  input-group-btn " style="width: 65%">
                    <input id="keyword" oninput="oncharkey()" data-hover="dropdown" class="myDropdownHandle"
                           autoComplete="off" data-toggle="dropdown" placeholder="输入地址"
                           style="font-size: 20px;width: 100%">
                    <ul class="dropdown-menu">
                        <li><a href="#">西安</a></li>
                    </ul>
                </div>
                <script>

                    var oncharkey = function findCityName() {
                        $("#keyword").next().html("");
                        var name = $("#keyword").val();
                        console.log("name: " + name);
                        $.get("/map/findName?name=" + name, function (data) {
                            $.each(data, function () {
                                var li = " <li  ><a  href='javascript:keywordChang(\"" + this + "\");' >" +
                                    this + "</a></li>";
                                $("#keyword").next().append(li);
                            })
                        })
                    }

                    function keywordChang(name) {
                        $("#keyword").val(name);
                        oncharkey();
                        $("#keyword").next().show();
                    }

                    $("#keyword").next().find("a").click(function () {

                        $("#keyword").val($(this).text());
                        console.log($(this).text());
                        //$("#keyword").val(name);
                    });


                </script>
                <div class="input-group-btn" style="width: 20%">
                    <button type="button" class="btn btn-default btn-warning" onclick="onClickS()" style="width: 100%">
                        搜索
                    </button>
                </div>
            </div>

            <form id="index_form" th:action="@{/food/eateryList}" action="/food/foodList" method="post" hidden="hidden">
                <input name="city"/><input name="keyword"/>
            </form>
            <script>
                /* $(".dropdown-menu li a").click(function () {
                     $("#city").text(this.text);
                 });
 */
                function onClickS() {
                    var city = $("#city").html();
                    var keyword = $("#keyword").val();
                    console.log(city);
                    console.log(keyword);
                    $("#index_form").find("input[name='city']").val(city);
                    $("#index_form").find("input[name='keyword']").val(keyword);
                    /**
                     * 这里添加搜索提交代码
                     * */
                    $("#index_form").submit();
                }
            </script>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-offset-2 col-md-2 text-center">
                <!-- style="background-image: url('/img/eatery.ico');background-repeat:no-repeat;background-size:80% 70%;height: 200px"-->
                <a href="/eatery/index.html">
                <img src="/img/eatery.ico" style="height: 60%;width: 60%" >
                 <h2 style="color: whitesmoke ;margin-top: -5%">我是商铺</h2></a>
            </div>
            <div class="col-md-offset-4 col-md-2 text-center">
                <!-- style="background-image: url('/img/eatery.ico');background-repeat:no-repeat;background-size:80% 70%;height: 200px"-->
                <a href="/admin/index.html">
                    <img src="/img/admin.png" style="height: 60%;width: 60%" >
                    <h2 style="color: whitesmoke ;margin-top: -3%">管理员</h2></a>
            </div>
        </div>

    </div>

</main>

<footer id="footer">
    <div class="row row-pb-md" style="margin: 0;">
        <div class=" col-md-12 text-center copyright py-2 lead"
             style="background: white;margin-top: 40px;margin-bottom: 0;">
            <hr/>
            <span> Copyright © 2018 - 董文强个人毕设网站 网上订餐系统</span>
            <span></span>
        </div>
    </div>
</footer>

</body>


</html>