<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <style type="text/css">
        /*body {
            padding-top: 50px;
            font-family: 'microsoft yahei', Arial, sans-serif;
            margin: 0;
        }*/

        .loginDiv {
            padding: 40px 15px;
            text-align: center;
        }

        .loginDiv {
            width: 375px;
            height: 300%;
            margin: 0 auto;
        }

        .loginDiv hr {
            margin: 6px;
        }

        /*#footer {
            padding-top: 300px;
        }*/
    </style>
</head>
<body>
<div th:include="/index ::#header"></div>
<main>
    <div class="container">
        <div class="starter-template loginDiv">
            <div id="loginPage">
                <p th:if="${param.logout}" class="bg-warning">已注销</p>
                <p th:if="${param.error}" class="bg-danger">有错误，请重试</p>
                <h2>使用账号密码登录</h2>
                <form class="form-signin" role="form" name="form" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username">账号</label>
                        <input type="text" class="form-control" name="username" placeholder="账号"/>
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" name="password" placeholder="密码"/>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="登录"/>
                        </div>
                    </div>
                </form>
                <hr/>
                <div class="row">
                    <div class=" col-md-3">
                        <a href="/register.html">
                            <button class="btn  btn-warning btn-block btn-xs">注册</button>
                        </a>
                    </div>
                    <div class="col-md-offset-6 col-md-3">
                        <a th:href="@{/user/repassword}">
                            <button class="btn btn-link btn-block btn-xs">忘记密码</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:include="/index ::#footer"></div>
</body>
</html>