<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <style>
        .reg {
            padding-top: 75px;
        }
    </style>
</head>
<body>
<div th:include="/index ::#header"></div>
<main>
    <div class="reg container">
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <form action="/user/reg" method="post" class="form-horizontal" role="form">

                    <div class="form-group has-error">
                        <label class="col-sm-3 control-label">手机号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control " placeholder="请输入名称"/>
                        </div>
                        <span class="control-label col-sm-offset-4 col-sm-5 text-left" style="padding: 0;">手机号格式不对</span>
                    </div>

                    <div class="form-group has-error">
                        <label class="col-md-3 control-label">密码</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control " placeholder="请输入名称"/>
                        </div>
                        <span class="control-label col-sm-offset-4 col-sm-3 text-left" style="padding: 0;">密码太简单</span>
                    </div>

                    <div class="form-group has-error">
                        <label class="col-md-3 control-label">手机号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control " placeholder="请输入名称"/>
                        </div>
                        <span class="control-label col-sm-offset-4 col-sm-2 text-left" style="padding: 0;">****8</span>
                    </div>

                </form>
            </div>
        </div>
    </div>


</main>
<div th:include="/index ::#footer"></div>
</body>
</html>