<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta charset="UTF-8">
    <title>QQ注册</title>
</head>
<body>
<div class="main-wraper">
    <div class="upgrade-tips" style="display:none">浏览器版本太低，为保障信息的安全和展现，建议<a
            href="https://dldir1.qq.com/invc/tt/QQBrowser_Setup_qqzc.exe" target="_blank">升级浏览器</a></div>
    <div class="main" data-bind="style:{height: is_up_sms() || is_verify() ? '100%' : ''}">
        <div class="form" autocomplete="off" data-bind="visible: !error() && !succ()">
            <div data-bind="visible: isQQ()">
                <div class="welcome">欢迎注册QQ</div>
                <div class="header free-lianghao-entry" data-bind="visible: isChs()"><a href="javascript:void(0)"
                                                                                        data-bind="click: toLianghao">免费靓号</a>
                </div>
                <div class="header">每一天，乐在沟通。</div>
            </div>
            <div data-bind="visible: isQQMail()">
                <div class="welcome">QQ邮箱注册</div>
                <div class="header">个性化QQ邮箱名称</div>
            </div>
            <div data-bind="visible: isMail()">
                <div class="welcome">邮箱帐号注册QQ</div>
                <div class="header qq-mail-entry">&nbsp;<a href="javascript:void(0)"
                                                           data-bind="click: toQQMail">创建QQ邮箱</a></div>
                <div class="header">邮箱登录，便于记忆</div>
            </div>
            <div data-bind="visible: isLianghao()">
                <div class="welcome">QQ免费靓号</div>
                <div class="guide"><p class="guide-title">注册指引：</p>
                    <p class="guide-item">1.注册完成后，<a href="http://im.qq.com/mobileqq/index.shtml?adtag=zclhhd8"
                                                     target="_blank">登录QQ手机版，完成激活</a></p>
                    <p class="guide-item">2.一周内未激活帐号，系统将自动回收</p></div>
                <div class="lianghao-area">精品靓号&nbsp;&nbsp;<span class="lianghao-number"
                                                                 data-bind="html: lianghao_html"></span>&nbsp;&nbsp;<span
                        data-bind="text: lianghao_mean" class="lianghao-mean"></span> <a href="javascript:void(0)"
                                                                                         data-bind="click: changeLianghao"
                                                                                         class="change-lianghao">换一个</a>
                </div>
            </div>
            <form data-bind="submit: submit" autocomplete="off">
                <div class="mail-area" data-bind="visible: isMail()">
                    <div class="input-area">
                        <div class="input-flags">
                            <div class="input-ok" data-bind="visible: mailStatus() === 1"></div>
                        </div>
                        <label class="input-placeholder" id="mail-tips" for="mail"
                               data-bind="visible: mail().length == 0">邮箱</label>
                        <div class="input-outer"><input autocomplete="off" type="text" id="mail" class="mail"
                                                        data-bind="textInput: mail, event: {blur: checkMail,focus:onMailFocus}, css:{error: typeof mailStatus() == 'string'}"
                                                        tabindex="1"></div>
                    </div>
                    <div class="error-tips-wrap" data-bind="css:{slideup:mailTips().length === 0}">
                        <div class="error-tips" data-bind="text: mailTips, visible: mailTips().length"></div>
                    </div>
                    <div class="input-tips-wrap" data-bind="css:{slideup: mailTips().length > 0}">
                        <div class="input-tips">请输入你常用的邮箱（非qq/foxmail邮箱）</div>
                    </div>
                </div>
                <div class="qqmail-area input-area" data-bind="visible: isQQMail()">
                    <div class="input-outer qqmail-outer" data-bind="click: beginSelectMail">
                        <div href="javascript:void(0)" class="qqmail" id="qqmail"
                             data-bind="text: qqmail, visible: isQQMail()"></div>
                        <div class="selector" data-bind="click:toggleSelectMail, clickBubble: false"><img
                                src="//4.url.cn/zc/v3/img/down.png" data-bind="visible: !isSelectingMail()"><img
                                src="//4.url.cn/zc/v3/img/up.png" data-bind="visible: isSelectingMail()"></div>
                        <ul class="options qqmail-list" data-bind="foreach: mail_list, visible: isSelectingMail">
                            <li data-bind="click:function(){$root.setMail($data)}, clickBubble: false"><a
                                    href="javascript:void(0)" data-bind="text:$data"></a></li>
                        </ul>
                    </div>
                    <div class="input-area mail-area">
                        <div class="input-flags">
                            <div class="input-ok" data-bind="visible: mailStatus() === 1"></div>
                        </div>
                        <label class="input-placeholder" id="mail-name-tips" for="mail-name"
                               data-bind="visible: mail().length == 0">邮箱</label>
                        <div class="input-outer"><input autocomplete="off" type="text" id="mail-name" class="mail"
                                                        data-bind="textInput: mail, event: {blur: checkMail,focus:onMailFocus}, css:{error: typeof mailStatus() == 'string'}"
                                                        tabindex="2"></div>
                    </div>
                    <div class="error-tips-wrap" data-bind="css:{slideup:mailTips().length === 0}">
                        <div class="error-tips" data-bind="text: mailTips, visible: mailTips().length"></div>
                    </div>
                    <div class="input-tips-wrap" data-bind="css:{slideup: mailTips().length > 0}">
                        <div class="input-tips">请创建邮箱名，由3-18个英文、数字、点、减号、下划线组成</div>
                    </div>
                </div>
                <div class="input-area">
                    <div class="input-flags">
                        <div class="input-ok" data-bind="visible: nicknameStatus() === 1"></div>
                    </div>
                    <label class="input-placeholder" id="nickname-tips" for="nickname"
                           data-bind="visible: nickname().length == 0">昵称</label>
                    <div class="input-outer"><input autocomplete="off" type="text" id="nickname" class="nickname"
                                                    maxlength="24"
                                                    data-bind="textInput: nickname, event: {blur:checkDirtyNickname,focus:onNicknameFocus}, css:{error: typeof nicknameStatus() == 'string'}"
                                                    tabindex="3"></div>
                    <div class="error-tips-wrap" data-bind="css:{slideup:nicknameTips().length === 0}">
                        <div class="error-tips" data-bind="text: nicknameTips, visible: nicknameTips().length"></div>
                    </div>
                </div>


                <div style="position:relative">
                    <div class="input-area phone-area">
                        <div class="input-flags">
                            <div class="input-ok" data-bind="visible: phoneStatus() === 1"></div>
                        </div>
                        <label class="input-placeholder" id="phone-tips" for="phone"
                               data-bind="visible: phone().length == 0">手机号码</label>
                        <div class="input-outer"><input autocomplete="off" id="phone" type="text" class="phone"
                                                        data-bind="value: phone, valueUpdate: 'afterkeydown', event:{blur:checkPhone,focus:onPhoneFocus}, validateValue: phone, css:{error:typeof phoneStatus() === 'string'}, hasFocus:phoneFocus"
                                                        tabindex="5"></div>
                    </div>
                    <div class="input-area nation-area">
                        <div class="input-outer"><input autocomplete="off" type="text" class="nation"
                                                        data-bind="event:{focus:beginSelectCountry}, textInput: country">
                            <div class="selector" data-bind="click:togglerCountry, clickBubble: false"><img
                                    src="//4.url.cn/zc/v3/img/down.png" data-bind="visible: !isSelectingCountry()"><img
                                    src="//4.url.cn/zc/v3/img/up.png" data-bind="visible: isSelectingCountry()"></div>
                        </div>
                    </div>
                    <ul class="options country" data-bind="visible: isSelectingCountry(), foreach: country_list">
                        <li data-bind="click:function(){$root.setCountry($data.c)}"><a href="javascript:void(0)"
                                                                                       data-bind="text:$data.n + ' +' + $data.c"></a>
                        </li>
                    </ul>
                </div>
                <dialog></dialog>
                <div class="error-tips-wrap" data-bind="css:{slideup: phoneTips().length === 0}">
                    <div class="error-tips" data-bind="text: phoneTips, visible: phoneTips().length"
                         style="margin:0"></div>
                </div>
                <div class="input-tips-wrap" data-bind="css:{slideup: phoneTips().length > 0}">
                    <div class="input-tips" data-bind="">可通过该手机号找回密码</div>
                </div>
                <div data-bind="visible: phoneStatus() !== 0 || phoneFocus() || sendSMSHover()"><a
                        href="javascript:void(0)" id="send-sms" class="send-sms"
                        data-bind="text: send_sms, click: sendSMS, css: {disabled: send_sms() != str().send_sms || typeof phoneStatus() === 'string'}, hasHover: sendSMSHover"
                        tabindex="6"></a>
                    <div class="input-area code-area"><label class="input-placeholder" id="code-tips" for="code"
                                                             data-bind="visible: code().length == 0">短信验证码</label>
                        <div class="input-outer"><input autocomplete="off" id="code" type="text" class="code"
                                                        data-bind="textInput: code,event:{focus:clearCode}"
                                                        tabindex="7"></div>
                    </div>
                    <div class="error-tips-wrap" data-bind="css:{slideup:codeTips().length === 0}">
                        <div class="error-tips" data-bind="text: codeTips, visible: codeTips().length"></div>
                    </div>
                </div>
                <div><input id="get_acc" type="submit" class="submit" value="立即注册" tabindex="8">
                    <div class="error-tips-wrap" data-bind="css:{slideup:getNumTips().length === 0}">
                        <div class="error-tips" data-bind="text: getNumTips, visible: getNumTips().length"></div>
                    </div>
                </div>

            </form>
        </div>


    </div>

</body>
</html>