<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <style type="text/css">



    </style>
</head>
<body>
<div th:include="/index ::#header"></div>
<main>
    <div class="container">
        <div class="panel-group " id="accordion">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <h4 class="panel-title " >
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            正在派送途中的外卖
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">


                    </div>
                </div>
            </div>
            <div class="panel panel-warning ">
                <div class="panel-heading">
                    <h4 class="panel-title " >
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            已经下过的订单
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo.
                    </div>
                </div>
            </div>

        </div>


    </div>
</main>
<div th:include="/index ::#footer"></div>
</body>
</html>