<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.dwq.orderingSys.data.dao.CityMapper">
    <resultMap id="BaseResultMap" type="indi.dwq.orderingSys.data.pojo.City">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="areaname" jdbcType="VARCHAR" property="areaname"/>
        <result column="parentid" jdbcType="INTEGER" property="parentid"/>
        <result column="shortname" jdbcType="VARCHAR" property="shortname"/>
        <result column="lng" jdbcType="VARCHAR" property="lng"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="level" jdbcType="BIT" property="level"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, areaname, parentid, shortname, lng, lat, level, position
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pb_area
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select id FROM pb_area WHERE areaname = #{name}
    </select>
    <select id="selectByParentid" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT areaname FROM pb_area where parentid = #{id}
    </select>
    <select id="selectParentName" resultType="java.lang.String">
        select areaname from pb_area where id = (select parentid FROM pb_area where areaname=#{name} or shortname=#{name})
    </select>

    <select id="findName" parameterType="java.lang.String" resultMap="BaseResultMap">
         SELECT * FROM pb_area WHERE areaname LIKE "%"#{name}"%" OR shortname LIKE "%"#{name}"%"
    </select>
    <select id="ByParentid" resultType="indi.dwq.orderingSys.data.pojo.City">
          SELECT * FROM pb_area WHERE parentid = #{parentid}
    </select>


</mapper>