<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.dwq.orderingSys.data.dao.EateryMapper">
  <resultMap id="BaseResultMap" type="indi.dwq.orderingSys.data.pojo.Eatery">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="eater_name" jdbcType="VARCHAR" property="eaterName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="des" jdbcType="VARCHAR" property="des" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, eater_name, address, des ,img_url
  </sql>


  <select id="getAll" resultMap="BaseResultMap">
    select * from eatery
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eatery
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eatery
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="indi.dwq.orderingSys.data.pojo.Eatery">
    insert into eatery (id, eater_name, address, 
      des,img_url)
    values (#{id,jdbcType=INTEGER}, #{eaterName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{des,jdbcType=VARCHAR},#{imgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="indi.dwq.orderingSys.data.pojo.Eatery">
    insert into eatery
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eaterName != null">
        eater_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="des != null">
        des,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eaterName != null">
        #{eaterName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="indi.dwq.orderingSys.data.pojo.Eatery">
    update eatery
    <set>
      <if test="eaterName != null">
        eater_name = #{eaterName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="indi.dwq.orderingSys.data.pojo.Eatery">
    update eatery
    set eater_name = #{eaterName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>