<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.dwq.orderingSys.data.dao.FoodMapper">
    <resultMap id="BaseResultMap" type="indi.dwq.orderingSys.data.pojo.Food">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="REAL" property="price"/>
        <result column="des" jdbcType="VARCHAR" property="des"/>
        <result column="eatery_id" jdbcType="INTEGER" property="eateryId"/>
        <result column="img" jdbcType="VARCHAR" property="img"/>
    </resultMap>

    <resultMap id="OrderFood" type="indi.dwq.orderingSys.data.pojo.Order$OrderFood">
        <result column="count" property="count"/>
        <result column="id" property="foodid"/>
        <result column="name" property="foodName"/>
        <result column="price" property="price"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, price, des, eatery_id,img
    </sql>
    <!-- /*创建 商品列表视图视图*/
     DROP VIEW IF EXISTS `food_view`;
     CREATE VIEW food_view AS
     SELECT f.* , IFNULL(SUM(fs.count),0) AS COUNT FROM food f LEFT JOIN food_sales fs ON f.id=fs.food_id   GROUP BY f.id;

      id, name, price, des, eatery_id count
 -->
    <select id="getSortFood" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select * FROM food_view where eatery_id=#{eateryId} and state=1 order by ${sortName}
    </select>
    <select id="getFoodInfo" parameterType="java.lang.Integer" resultMap="OrderFood">
        select * FROM food_view where eatery_id=#{eateryId} and state=1 order by ${sortName} desc
    </select>
    <select id="selectCountByFoodId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select IFNULL(SUM(count),0)
        FROM food_sales
        where  food_id=#{foodId}
    </select>
    <select id="selectonOKWayByUserid" parameterType="java.lang.Integer" resultMap="OrderFood">
         select fs.count count,f.id id, f.name name,fs.price price
    FROM food_sales fs  JOIN food f ON fs.food_id = f.id
    where  fs.order_id=#{id} and state !=1
    </select>

    <select id="selectFoodSalesByOrderID" parameterType="java.lang.Integer" resultMap="OrderFood">
    select fs.count count,f.id id, f.name name,fs.price price
    FROM food_sales fs  JOIN food f ON fs.food_id=f.id
    where  fs.order_id=#{id} and state=1
   </select>


    <select id="getAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from food  where eatery_id=#{eateryId} and state=1
  </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from food
        where id = #{id,jdbcType=INTEGER} and state=1
    </select>
    <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update  food
    set state=2  WHERE  id = #{id,jdbcType=INTEGER}
     </update>
    <insert id="insert" parameterType="indi.dwq.orderingSys.data.pojo.Food">
    insert into food ( name, price,
      des, eatery_id,img)
    values ( #{name,jdbcType=VARCHAR}, #{price,jdbcType=REAL},
      #{des,jdbcType=VARCHAR}, #{eateryId,jdbcType=INTEGER} ,#{img})
  </insert>
    <insert id="insertSelective" parameterType="indi.dwq.orderingSys.data.pojo.Food">
        insert into food
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="des != null">
                des,
            </if>
            <if test="eateryId != null">
                eatery_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=REAL},
            </if>
            <if test="des != null">
                #{des,jdbcType=VARCHAR},
            </if>
            <if test="eateryId != null">
                #{eateryId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="indi.dwq.orderingSys.data.pojo.Food">
        update food
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=REAL},
            </if>
            <if test="des != null">
                des = #{des,jdbcType=VARCHAR},
            </if>
            <if test="eateryId != null">
                eatery_id = #{eateryId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="indi.dwq.orderingSys.data.pojo.Food">
    update food
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      des = #{des,jdbcType=VARCHAR},
      eatery_id = #{eateryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="removeFood" parameterType="java.lang.Integer">
        update food
        set state=2
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateFoodImg" >
        update food
        set img = #{img,jdbcType=VARCHAR}
        where id = #{foodId,jdbcType=INTEGER}
    </update>
</mapper>