<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.dwq.orderingSys.data.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="indi.dwq.orderingSys.data.pojo.Order">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="time" jdbcType="DATE" property="time"/>
        <result column="ps" jdbcType="VARCHAR" property="ps"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, time, ps, price
  </sql>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="indi.dwq.orderingSys.data.pojo.Order">
    insert into order (id, user_id, time, 
      ps, price)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{time,jdbcType=DATE}, 
      #{ps,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE})
  </insert>
    <insert id="insertOrderFood" parameterType="java.util.Map" >
        insert into food_sales(food_id,'count',price,order_id) VALUES
        (#{orderFood.foodid},#{orderFood.count},#{price},#{orderId})
    </insert>
    <insert id="insertOrder" keyProperty="id" useGeneratedKeys="true"  parameterType="indi.dwq.orderingSys.data.pojo.Order">
        insert into order (user_id,time,
        <trim ><if test="ps != null"> ps,</if></trim>
        price) values (#{userId,jdbcType=INTEGER},
        #{time,jdbcType=DATE},
        <trim ><if test="ps != null">#{ps,jdbcType=VARCHAR},</if></trim>
        #{price,jdbcType=DOUBLE})
    </insert>
    <update id="setOrderPrice" parameterType="java.lang.Double">
        update order  set price = #{price}  where id = #{id}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="indi.dwq.orderingSys.data.pojo.Order">
        update order
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=DATE},
            </if>
            <if test="ps != null">
                ps = #{ps,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="indi.dwq.orderingSys.data.pojo.Order">
    update order
    set user_id = #{userId,jdbcType=INTEGER},
      time = #{time,jdbcType=DATE},
      ps = #{ps,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>