<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.dwq.orderingSys.data.dao.UserMapper">
    <resultMap id="BaseResultMap" type="indi.dwq.orderingSys.data.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="detail_id" javaType="INTEGER" property="detailId"/>
    </resultMap>

    <sql id="Base_Column_List">
    <![CDATA[

         id, detail_id,username, password ,role

        ]]>
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
       <![CDATA[

         select *  from user where id = #{id,jdbcType=INTEGER}

        ]]>
    </select>
    <select id="findByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        <![CDATA[

         SELECT *
        FROM USER  WHERE username = #{username} and state=1

        ]]>
    </select>

    <select id="All" resultMap="BaseResultMap">
        <![CDATA[

         SELECT *
        FROM user WHERE state=1

        ]]>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <![CDATA[

         delete from user
        where id = #{id,jdbcType=INTEGER}

        ]]>
  </delete>
    <insert id="insert" parameterType="indi.dwq.orderingSys.data.pojo.User">
    insert into user (detail_id, username, password,role
      )
    values (#{detailId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},#{role}
      )
  </insert>

    <insert id="insertSelective" parameterType="indi.dwq.orderingSys.data.pojo.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="indi.dwq.orderingSys.data.pojo.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="indi.dwq.orderingSys.data.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateStateByUserId">
        update user
        set state = #{state}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectNotEatery"  resultMap="BaseResultMap">
       <![CDATA[
         SELECT *  FROM `user` WHERE id NOT IN(SELECT user_id FROM eatery WHERE user_id IS NOT NULL) AND role != '管理员'
        ]]>
    </select>
</mapper>